@import "vars.scss";

.user-indicator-button {
    padding-top: $padding-btn-vertical;
    padding-bottom: $padding-btn-vertical;
    padding-left: $padding-btn-horizontal;
    padding-right: $padding-btn-horizontal;
}
